html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #778899;
  font-family: "Arial";
}

.stranka {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-width: 1130px;
  background: #DAE5EA;
  border-radius: 8px 8px 0 0;
  position: relative; 
  margin: 0 auto;
  min-height: 900px;
  padding-bottom: 50px;
  top: 10px;
}

.header {
  width: 100%;
  height: 150px;
  background: #DAE5EA;	
  border-radius: 8px 8px 0 0;
}

p {
  padding: 20px;
}

h1,h2 {
  padding: 30px 20px 0 20px;
  margin: 0;
}



header ul {
	width: 970px;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 160px;
    overflow: hidden;
    background-color: black;
}

header li {
    float: left;
	min-width: 100px;
	margin-left: 10px;
}

header li a {
    display: block;
    color: 	white;
    text-align: center;
    padding: 30px 60px;
    text-decoration: none;
}

header li a:hover {
    background-color: #DAE5EA !important;
	border-radius: 6px;
	line-height: 15px;
	margin-top: 5px;
}



form {
	padding-left: 30px;
}

.logo {
	height: 150px;
	width: 250px;
	position: absolute;
	left: 0;
}

.logo_text {
	float: left;
	padding-left: 400px;
	font-size: 38px;
	font-weight: bold;
	line-height: 150px;
	color: 	black;
}

.potravina {
	width: 19.3%;
	background: #DAE5EA;
	float: left;
	margin: 0 6% 10px 6%;
	text-align: center;
	font-size: 20px;
}

.potravina:hover {
    background: white;
}

.obrazok_potravina {
	width: 90%;
	height: 130px;
	margin: 0 auto;
	margin-top: 30px;
	background-size: contain !important;
	background-position: center center !important;
}


.Zelenina1 {
	background: url('./obrazky/Zelenina1.jpg') no-repeat;
}
.Zelenina2 {
	background: url('./obrazky/Zelenina2.jpg') no-repeat;
}
.Zelenina3 {
	background: url('./obrazky/Zelenina3.jpg') no-repeat;
}
